.header-container{
    background-image: url('../images/bg-header-desktop.png');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
   
    display: grid;
    place-content: center;
    .hero-container{
        margin-top: 1em;
        text-align: center;
        .hero-title{
            color: $DarkGrayishBlue;
            font-size: 5em;
            padding-top: 1em;
        }
        .hero-subtitle{
            padding: 0em 5em;
            padding-top: 0.7em;
            font-size: 2em;
            color: $GrayishBlue;
        }   
        .logo-img{
            width: 100px
        }
        
    }
}
@media only screen and (max-width: 1000px) {
    .header-container{
        .hero-container{
            .hero-title{
                font-size: 3em;
            }
            .hero-subtitle{
                font-size: 1.5em;
                padding: 0em 1em;
            }
        }
    }
}